APP_NAME=app
APP_VERSION=0.1.0-SNAPSHOT

PROJECT_NAME=kinflasy

DATABASE_USER=app
DATABASE_NAME=kinflasy
DATABASE_PASSWORD=123456
DATABASE_PORT=5432

API_URL=http://localhost:8080

CONTACTS_API_URL=${API_URL}/v1/core/
PEOPLE_API_URL=${API_URL}/v1/core/
CHURCHES_API_URL=${API_URL}/v1/core/
MEDIA_API_URL=${API_URL}/v1/

OPENFGA_DATABASE_USER=app
OPENFGA_DATABASE_NAME=openfga
OPENFGA_DATABASE_PASSWORD=123456
OPENFGA_DATABASE_PORT=5433

OPENFGA_HTTP_PORT=8090
OPENFGA_MODEL_FILE=../model.json

OPENFGA_API_TOKEN=your-api-token

# MinIO Storage Configuration
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_PROVIDER=minio
STORAGE_BUCKET=kinflasy

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=123456
