APP_NAME=app
APP_VERSION=0.1.0-SNAPSHOT

PROJECT_NAME=kinflasy

DATABASE_USER=app
DATABASE_NAME=kinflasy
DATABASE_PASSWORD=123456
DATABASE_PORT=5432

PEOPLE_API_URL=http://localhost:8080/v1/core/people
INACTIVE_PEOPLE_API_URL=http://localhost:8080/v1/core/inactive-people
USERS_API_URL=http://localhost:8080/v1/core/users
ADDRESS_API_URL=http://localhost:8080/v1/core/addresses
CHURCHES_API_URL=http://localhost:8080/v1/core/churches

OPENFGA_DATABASE_USER=app
OPENFGA_DATABASE_NAME=openfga
OPENFGA_DATABASE_PASSWORD=123456
OPENFGA_DATABASE_PORT=5433

OPENFGA_HTTP_PORT=8090

OPENFGA_STORE_ID=
OPENFGA_AUTHORIZATION_MODEL_ID=
